doctype html
html
  head
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8;")
    meta(name="viewport",content="width=device-width; initial-scale=1.0;")
    meta(name="format-detection",content="telephone=no;")
    meta(name="format-detection",content="email=no;")
    title= title
    link(rel='stylesheet', href='/javascripts/day-report/static/css/app.ab23cf2e87bf43f61af99f00be5d61cf.css')
  body.no-skin
    block content

  script(src='/javascripts/day-report/static/js/manifest.0ce37a38fc91406480f0.js')
  script(src='/javascripts/day-report/static/js/vendor.830d46bede5ae53f0ec8.js')
  script(src='/javascripts/day-report/static/js/app.514a4ed2ac5b59e7c541.js')